<div class="row">
  <div class="col-sm-9">
    <h2>About Me</h2><br>
    <h4>Hi, I am Meriç Bal. Software Engineer with an International Trade and Management background, implementing management skills for software to create/plan a big picture of the structure. Perfectionist and intended to develop best solutions with JavaScript, Ruby, and SQL. </h4>
    <br>
    <p>Long Summary: I was born in Turkey and moved to Bay Area in 2009 to pursue my dreams of being fluent in English. 
    Through this journey, I have worked with two local companies in SF, and I drove for Lyft until I decided to pursue a career as a software engineer.
    Even though it was difficult in the beginning, I never quit and I kept a growth mindset to become a software engineer.</p>
  </div>

  <div class="col-sm-3">
    <span class="glyphicon glyphicon-user logo slideanim"></span>
  </div>
</div>