<div class="row">
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-list logo slideanim"></span>
  </div>

  <div class="col-sm-8">
    <h2 class="slideanim">My Knowledge</h2><br>
    <h4 class="slideanim"> <strong> PROFESSIONAL: </strong> Ruby, JavaScript, HTML5, CSS3, Python, SQL, AJAX, Bash, Ruby on Rails </h4>
    <h4 class="slideanim"> <strong> PROFICIENT: </strong> Flask, Task Queues, In-Memory Data Stores, Test-Driven Development, Alexa </h4>
    <p class="slideanim"> <strong> EXPOSURE: </strong> Unity3D, Agile Development, Hardware Development </p>
  </div>
</div>