<div id="services" class="container-fluid text-center">
  
  <h2>Social</h2>
  
  <br>
  
  <div class="row slideanim">

    <div class="col-sm-3">
      <%= link_to '', 'http://www.linkedin.com/in/meric-bal/', class: 'fa fa-linkedin logo-small', style: 'color:blue', target: '_blank' %>
      <h4>Linkedin</h4>
    </div>

    <div class="col-sm-3">
      <%= link_to '', 'http://github.com/mericbal', class: 'fa fa-github logo-small', style: 'color:black', target: '_blank' %>
      <h4>Github</h4>
    </div>

    <div class="col-sm-3">
      <%= link_to '', 'http://www.facebook.com/bal.meric', class: 'fa fa-facebook-f logo-small', style: 'color:darkblue', target: '_blank' %>
      <h4>Facebook</h4>
    </div>

    <div class="col-sm-3">
      <%= link_to '', 'https://www.instagram.com/meric_bal', class: 'fa fa-instagram logo-small', style: 'color:black', target: '_blank' %>
      <h4>Instagram</h4>
    </div>

  </div>

</div>